<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<% include partials/header %>
<link href="/css/admin.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/datatable.css">
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/datatable.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>

<script>
$(document).ready(function(){
	 $("#ustable").dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true
    });
})
</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
</head>

<div id="addpadding">

<table class="currentuxsers" id="ustable">
    <thead>
        <tr>
		<th>Name</th>
		<th>Location</th>
		<th>Blog</th>
        </tr>
    </thead>

    <tbody>
<% blog.forEach(function(blog){%>
	<tr id="scrollable" class="scrollables">
		<td><%= blog.name %></td>
		<td><a type="button" id="mapb" href="#popup1" onclick="init_map(<%= blog.lat %>,<%= blog.long %>,'<h1><%= blog.title %></h1>')"><img src="https://bestanimations.com/Earth&Space/Earth/earth-spinning-rotating-animation-40.gif" width="42" height="42"></a></td>
		<td><div class="scrollable"><h1><%= blog.title %></h1><%- blog.data %></div></td>
	</tr>
<%}) %>
    </tbody>        
</table>
</div>
	<div id="popup1" class="overlay">X
	<div class="popup">
		<div class="content"><h1>Java & NodeJS blog</h1><h3>by Shubham Yeole</h3>
		<a class="close" href="#"> &times;</a>
		</div>
			<div id='gmap_canvas' style='height:440px;width:100%;'></div>
		
	</div>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<style type="text/css">

</style>
			</div>
		</div>
		
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		<script type='text/javascript'>
function init_map(x,y,z){
	var myOptions = {center: myCenter,
		zoom:15,center:new google.maps.LatLng(x,y),mapTypeId: google.maps.MapTypeId.MAP};
var myCenter = new google.maps.LatLng(x, y); 

		map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

		marker = new google.maps.Marker({position: myCenter, map: map});

		infowindow = new google.maps.InfoWindow({content:z});

		google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});

		infowindow.open(map,marker);}
</script>
</body>
</html>