<% include partials/header_1.html %>

  <!-- ****************************************DATA TABLE PLUGINs**************************************** -->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="/css/datatable.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- ****************************************High Lighter PLUGINs**************************************** -->
</script><script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


  <!-- ****************************************Google PLUGINs**************************************** -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAWPMDGHGh-KUNMkjSIlMBD1JMtTfbxk&callback=initMap"></script>

  <!-- ****************************************My PLUGINs**************************************** -->

  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <script src="js/datatable.js"></script>
  <script src="js/dashboard.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>

<script>
$(document).ready(function(){
	 $("#ustable").dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true,
        "iDisplayLength": 5 
    });
	 	 $(".dataTables_length select").addClass("selectEntry").attr("placeholder", "Type here to search").append('<br><br><br><br>');
	 	 $(".dataTables_filter input").addClass("searchInput").attr("placeholder", "Type here to search");;

	 $(".collapse").hide();

	
	 $("a").click(function(){
	 	 $(".collapse").hide();
	 });
	$("span").click(function(){
	 	 $(".collapse").hide();
	 });

})

$(document).on("click",".head",function() { 
	   var id = $(this).data('id');
	 	$("#collapse-"+id).toggle("slow").addClass("animated bounceInDown");
	});
</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
</head>
<style></style>
<div id="addpadding">
<table class="cudrrentusers" id="ustable">
    <thead>
        <tr>
		<th>Java and Node.js Blogs by Shubham Yeole</th>
        </tr>
    </thead>

    <tbody>
<% blog.forEach(function(blog){%>
	<tr  class="haed">
		<td class="namesection" >
			<div id="head-<%= blog._id %>" data-id="<%= blog._id %>" class="head">
				<p class="title">
					<img src="/images/more.jpg" width="12" height="12">&nbsp;	&nbsp;<%= blog.title %>
				</p>
				<div style="color: #999999; float: right; margin-top: -1cm;">
					Posted by <%= blog.name %> under <%= blog.category %> category</div>
				</div>
			</div>
			<div id="collapse-<%= blog._id %>" class="collapse">
				<a type="button" id="mapb" href="#popup1" onclick="init_map(<%= blog.lat %>,<%= blog.long %>,'<h1><%= blog.title %></h1><h3> blog is posted from this location</h3>')"><img src="/images/mappin.jpg" width="22" height="32"></a>	&nbsp;	&nbsp;
				<button class="likeUser" data-id="<%= blog._id %>"><img src="images/like.jpg"  width="22" height="22" /><span id="like-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.like %></span></button>	&nbsp;	&nbsp;
				<button class="dislikeUser" data-id="<%= blog._id %>"><img src="images/dislike.jpg"  width="22" height="22" /><span id="dislike-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.dislike %></span></button>	&nbsp;	&nbsp;
				<span id="views-<%= blog._id %>" data-id="<%= blog._id %>" class="viewsUser"><button class="viewbutton"><img src="images/dislike.jpg"  width="22" height="22" /></button> </span><br><br>
				<div class="scrollable" style><%- blog.data %></div>
			</div>
			
		</td>
	</tr>
<%}) %>
    </tbody>        
</table>
</div>
</div>
	<div id="popup1" class="overlay">X
	<div class="popup">
		<div class="content"><h1>Java & NodeJS blog</h1><h3>by Shubham Yeole</h3>
		<a class="close" href="#"> &times;</a>
		</div>
			<div id='gmap_canvas' style='height:440px;width:100%;'></div>
		
	</div>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<style type="text/css">

</style>
			</div>
		</div>
		
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		<script type='text/javascript'>
function init_map(x,y,z){
	var myOptions = {center: myCenter,
		zoom:15,center:new google.maps.LatLng(x,y),mapTypeId: google.maps.MapTypeId.MAP};
		var myCenter = new google.maps.LatLng(x, y); 

		map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

		marker = new google.maps.Marker({position: myCenter, map: map});

		infowindow = new google.maps.InfoWindow({content:z});

		google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});

		infowindow.open(map,marker);}
</script>


</body>
</html>